@font-face {
    font-family:'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/xIAtSaglM8LZOYdGmG1JqQ.woff) format('woff');
}
body, div, h1, h2, h3, h4, h5, h6, 
p, ul, ol, li, dl, dt, dd, img, form, 
fieldset, input, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #ffffff;
}

.caja{
	width: 80px;
	height:80px;
	display: table-cell;
	font-family: "Dosis";
	text-decoration: none;

}

.azul{
	background-color: blue;
	color: blue;
}

.celeste{
	background-color: #12C8CA;
	color: #12C8CA;
}

.naranjo{
	background-color: orange;
	color: orange;
}

.rosado{
	background-color: pink;
	color: pink;
}

.cuadrado{
	width: 80px;
	height: 80px;
	background-color: black; 
	display:none;
	margin-left: 80px;
	padding-top:10px;

}

a:hover span{
	display: block;

}

li{
	display: block;
}
